# Ansible Inventory
# Defines all servers in our infrastructure

all:
  hosts:
    vcl1:
      ansible_host: 152.7.176.221
      ansible_user: sraval
      ansible_ssh_private_key_file: ~/.ssh/id_ed25519

    vcl2:
      ansible_host: 152.7.177.129
      ansible_user: sraval
      ansible_ssh_private_key_file: ~/.ssh/id_ed25519

    vcl3:
      ansible_host: 152.7.178.104
      ansible_user: sraval
      ansible_ssh_private_key_file: ~/.ssh/id_ed25519

  children:
    load_balancer:
      hosts:
        vcl1:

    app_servers:
      hosts:
        vcl2:
        vcl3:
